.nav {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  width: 100%;
  color: white;
  background-color: black;

  /* padding: 20px; */
}
.autoComplete {
  background-color: #ffffff;
  border-radius: 6px;
  padding: 0px;
  width: 300px;
  margin: 2px;
}
